.container {
    background-color: #F9F6F6;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3.375rem;
    margin-left: 2.25rem;
    padding: 1rem;
    width: 80%;
    z-index: 150;
}

.image {
    width: 1.875rem;
    height: 1.875rem;
    cursor: pointer;
}

.price {
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 700;
}

.button {
    background-color: #FF8515;
    color: white;
    border-radius: 1rem;
    border: none;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 1rem;
    cursor: pointer;
}


@media (min-width: 31rem) {
    .container {
        margin-left: 4.25rem;
        align-self: center;
        width: 60%;
    }
}

@media (min-width: 54rem) {
    .container {
        width: 27.75rem;
        margin: 3rem 0 3.375rem ;
        
    }
}