.title {
    font-size: 4rem;
    font-weight: 700;
    color: #363636;
    margin: 0;
    width: 25rem;
}

.secondary_title {
    font-size: 4rem;
    font-weight: 700;
    color: #FF8515;
    margin: 0;
}

.container {
    padding-left: 8.75rem;
    margin-top: 3rem;
}

.description {
    margin-top: 2rem;
    width: 30rem;
}