.container {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.84);
    backdrop-filter: blur(2px);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.modal {
    background-color: #F9F6F6;
    position: absolute;
    right: 5%;
    top: 40%;
    padding: 5rem 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
    border-radius: 1rem;
    z-index: 100;
}

.button {
    background-color: #FF8515;
    color: white;
    border-radius: 1rem;
    border: none;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 1rem;
    cursor: pointer;
    width: 9.625rem;
}

.title {
    margin: 0;
    color: #FF8515;
    font-size: 2.5rem;
    font-weight: 700;
}

.description {
    margin: 0;
    color: #797979;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 4rem;
}

@media (min-width: 31rem) {
    .modal {
        width: 70%;
        right: 15%;
    }
}

@media (min-width: 54rem) {
    .modal {
        width: 40%;
        right: 28%;
    }
}